
/* main stuff */
/*HOMEPAGE*/

*{
margin: 0;
padding: 0;
text-decoration: none;
color: #fff;
 }

body, html {
  height: 100%;
}

.nav-container {
  width: 100%;
  margin: 0 auto;
  height: 100px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #d0e5ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.nav-container li {
  padding: 10px;
}

.nav-container li a {
  font-family: 'Abel', sans-serif;
  float: right;
  font-size: 18px;
  color: #6e88ad;
}

.nav-container li a:hover {
  color: #eb5963;
}

.bg-container {
  display: flex;
  background-image: url("Mainpage.png");
  width: 100%;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: #aac0cd;
}

.about-container {
display: flex;
width: 100%;
justify-content: space-between;
flex-direction: row;
align-items: center;

}

.p-img {
  width: 200px;
  height: 200px;
}

.about-container p {
  color: black;
  padding-left: 40px;
  font-size: 18px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

/*Font-stuff:
font-family: 'Gaegu', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Knewave', cursive;
font-family: 'Karla', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Abel', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.social-container li {
  list-style: none;
  margine: 10px 30px;
  display: inline-flex;
  font-size: 50px;
  transition: .5s;
  padding: 0px 20px;
}

.social-container li:hover {
  color: #eb5963;
  transition: .5s;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe {
  padding: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}

 .wrapper {
     margin: 0 auto;
     width: 1200px;
     position: relative;
     top: 50px;
 }


 .wrapper-p {
     position: relative;
     top: 500px;
	 margin: 0 200px;
 }

/*<------ projects -------->*/

.pro-container {
  display: flex;
}

.pro-container h3 {
  color: #111;
  font-family: 'Karla', sans-serif;
  font-weight: 900;
  text-align: center;
  padding-bottom: 18px;
  text-decoration: underline;
  text-decoration-style: double;
}

.pro-container p {
  color: #111;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

.pro-container li {
  color: #111;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

.pro-container li a {
  color: black;
}
.game-titles {
    width: 100%;
    height: 100px;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    align-content: space-between;
}
.game-titles li{
    display: flex;
    padding: 20px;
    border: 5px solid #eb5963;
    margin-right: 10px;
}

.game-titles li a:hover {
    color: #6e88ad;
}

.title-intro {
    align-content: center;
    padding-bottom: 10px;
}

.title-intro p {
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    text-decoration-color: #111111;
}

.b-proj{
    align-content: center;
    text-decoration-color: #111111;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
}

.b-proj a:hover {
    color: #eb5963;
}

.projectnova {
    width: 100%;
  justify-content: center;
}

.horrorgame {
    width: 100%;
    justify-content: center;
}

.doggo {
    width: 100%;
    justify-content: center;
}

.arcane {
    width: 100%;
    justify-content: center;
}

.arcane img {
  padding-top: 12px;
  width: 600px;
    margin-left: 290px;
}

.ball {
    width: 100%;
    justify-content: center;
}



/*INDEX*/
/*Font-stuff:
font-family: 'Gaegu', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Knewave', cursive;
font-family: 'Karla', sans-serif;
font-family: 'Concert One', cursive;
font-family: 'Abel', sans-serif;
font-family: 'IBM Plex Sans Condensed', sans-serif;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;
*/

.back-to-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: pink; /* Set a background color */
    color: black; /* Text color */
    font-family: 'Fira Sans Condensed', sans-serif;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
